<div class="container">
  <div class="header">
    <h3>{{auction.name}}</h3>
    <button class="close-button" (click)="close.emit()"><fa-icon [icon]="faTimes"></fa-icon></button>
  </div>
  <div class="all-items list">
    <h3>click to add</h3>
    <div *ngFor="let item of unusedItems">
      <button (click)="addItem(item)">{{item.name}}</button>
    </div>
  </div>
  <div class="added-items list">
    <h3>already added</h3>
    <div *ngFor="let item of auction.items">
      <button (click)="removeItem(item)">{{item.name}}</button>
    </div>
  </div>
</div>
