@use 'sass:color';
@import "../colors.scss";

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 7rem auto;
  .home {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .links {
    display: flex;
    justify-content: flex-start;
    background-color: $safety-yellow;
    padding: 16px;
    width: 100%;
    align-items: center;
    a {
      @include button-theme($maximum-yellow-red);
      color: $black;
      text-decoration: none;
      margin-left: 32px;
      padding: 8px 2rem;
      border-radius: 3em;
    }
  }
}

.container-no-header {
  grid-template-rows: 0 auto;
}

@media only screen and (max-width: 700px) {
  .container {
      margin: 32px;
  }
}
