<div class="container" *ngIf="!!auction">
  <div class="header">
    <h3>{{auction.name}} <button class="blue-button" ngxClipboard [cbContent]="inviteLink + auction.code">Copy Invite Link</button></h3>


    <button class="delete-button" (click)="deleteAuction()"><fa-icon [icon]="faTrash"></fa-icon></button>
  </div>    <div class="list-container items">
      <h3>Items:</h3>
      <div class="list">
        <div class="list-item" *ngFor="let item of auction.items">
          <span>{{item.name}}</span> <span>${{item.startingBid}}</span>
        </div>
      </div>
      <button (click)="toggleAddItemDialog()">add item</button>
    </div>
    <div class="list-container bidders">
      <h3>Bidders:</h3>
      <div class="list">
        <div class="list-item" *ngFor="let bidder of auction.bidders">
          {{bidder.name}}
        </div>
      </div>
      <button (click)="toggleAddBidderDialog()">add bidder</button>
    </div>

  <div *ngIf="showAddItemDialog" class="add-dialog">
    <app-add-item-dialog [auction]="auction" (itemAdded)="itemAdded($event)" (itemRemoved)="itemRemoved($event)" (close)="toggleAddItemDialog()"></app-add-item-dialog>
  </div>

  <div *ngIf="showAddBidderDialog" class="add-dialog">
    <app-add-bidder-dialog [auction]="auction" (bidderAdded)="bidderAdded($event)" (bidderRemoved)="bidderRemoved($event)" (close)="toggleAddBidderDialog()"></app-add-bidder-dialog>
  </div>
  <button class="green-button bottom-button" *ngIf="auction.status === 'not-started'" (click)="start(auction.id)">Start Auction</button>
  <button class="green-button bottom-button" *ngIf="auction.status === 'in-progress'" (click)="goToAuction(auction)">Go to Auction</button>
  <button class="green-button bottom-button" *ngIf="auction.status === 'complete'" (click)="viewEndSummary(auction)">View Summary</button>
</div>
