@use 'sass:color';
@import "../../../colors.scss";

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 3fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "current-item bidders"
    "next-item bidders";
  height: 100%;

  .current-item {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h3 {
      font-size: 5rem;
    }
    h2 {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      align-items: baseline;
      .amount {
        background-color: $malachite;
        padding: 20px;
        border-radius: 5em;
        color: white;
      }
    }
    h4 {
      font-size: 3rem;
      text-align: center;
    }
    .details {
      grid-area: details;
      align-self: center;
      text-align: center;
      .sold-button {
        font-size: 6rem;
        padding: 3rem;
        border-radius: 10rem;
      }
    }
  }
  .bidders {
    grid-area: bidders;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 24px 8px;
    border-left: solid 3px;
    .bidder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px 16px;
      h3 {
        min-width: 5em;
      }
      button {
        min-width: 6rem;
      }
    }
  }
  .next-item {
    grid-area: next-item;
    justify-self: center;
    align-self: center;
  }
}
