<div class="container" *ngIf="!!currentItem">
  <div class="current-item">
    <h3>{{currentItem.name}} <span class="amount">${{currentItem.currentBid || currentItem.startingBid}}.00</span></h3>
    <div class="details">
      <h4 *ngIf="!!currentBidder">Current winner is {{currentBidder.name}}!</h4>
      <button class="sold-button" *ngIf="round === 1" (click)="increment()">Going once!</button>
      <button class="sold-button" *ngIf="round === 2" (click)="increment()">Going twice!</button>
      <button class="sold-button" *ngIf="round === 3" (click)="increment()">Sold!</button>
    </div>
  </div>

  <div *ngIf="currentItemIndex < auction.items.length - 1" class="next-item">
  <h3>Next up: {{auction.items[currentItemIndex+1].name}}</h3>
  </div>

  <div class="bidders">
    <div class="bidder" *ngFor="let bidder of auction.bidders">
      <h3>{{bidder.name}}</h3>
      <button (click)="bid(1, bidder.bidderId)">${{currentItem.currentBid + 1}}</button>
      <button (click)="bid(5, bidder.bidderId)">${{currentItem.currentBid + 5}}</button>
      <button (click)="bid(10, bidder.bidderId)">${{currentItem.currentBid + 10}}</button>
    </div>
  </div>
</div>
