<div class="container">
  <div class="header">
    <h3>{{auction.name}}</h3>
    <button class="close-button" (click)="close.emit()"><fa-icon [icon]="faTimes"></fa-icon></button>
  </div>
  <div class="all-bidders list">
    <h3>click to add</h3>
    <div *ngFor="let bidder of unusedBidders">
      <button (click)="addBidder(bidder)">{{bidder.name}}</button>
    </div>
  </div>
  <div class="added-bidders list">
    <h3>already added</h3>
    <div *ngFor="let bidder of auction.bidders">
      <button (click)="removeBidder(bidder)">{{bidder.name}}</button>
    </div>
  </div>
</div>
