<div class="container">
  <h2 *ngIf="!!auctionData">Your Auctions:</h2>
  <div class="auction-list" *ngIf="!!auctionData">
    <div *ngFor="let auction of auctionData">
      <button class="auction-button" [ngClass]="{'selected-auction': selectedAuction?.id === auction.id}" (click)="getDetails(auction.id)">{{ auction.name }}</button>
    </div>
    <div class="new-auction-form" *ngIf="showNewAuctionForm">
      <div class="text-input">
        <label for="name">Auction Name</label>
        <input type="text" [(ngModel)]="newAuction.name" name="name" />
      </div>
      <button type="submit" (click)="submitNewAuction()">Create</button>
    </div>
  </div>

  <div [ngClass]="{'invisible': !selectedAuction}" class="details">
    <app-auction-details [auction]="selectedAuction" (close)="deleteAuction(selectedAuction)"></app-auction-details>
  </div>

  <button class="green-button" (click)="toggleNewAuctionForm()">
    Create New Auction
  </button>

</div>
