<h1>Inventory</h1>

<div *ngFor="let item of items">
  <h3>{{item.name}}</h3>
  <h4>{{item.startingBid}}</h4>
</div>

<button (click)="openSubmitForm()">Add</button>

<div *ngIf="showSubmitForm" class="submit-form">
  <label for="name">Name</label>
  <input type="text" [(ngModel)]="newItem.name" name="name">

  <label for="startingBid">Starting Bid</label>
  <input type="number" [(ngModel)]="newItem.startingBid" name="startingBid">

  <button type="submit" (click)="submitNewItem()">Save</button>
</div>

<pre>{{newItem | json }}</pre>
