@use 'sass:color';
@import "./colors.scss";

@font-face {
  font-family: header;
  src: url("./assets/fonts/Hello\ Avocado.ttf");
}

@font-face {
  font-family: body;
  src: url("./assets/fonts/VanioTrial-Regular.ttf");
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: body;
  background-color: $safety-yellow-light;
  margin: 0;
}

h1, h2, h3, h4, a, button  {
  font-family: header;
  margin: 0;
}

h2 { font-size: 3rem; }
h3 { font-size: 2rem; }

button {
  font-size: 2rem;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 5rem;
  // margin: 16px;
  @include button-theme($vivid-sky-blue);
}

.link-button {
  font-size: 2rem;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 5rem;
  @include button-theme($vivid-sky-blue);
  text-align: center;
}

.blue-button {
  @include button-theme($vivid-sky-blue);
}

.green-button {
  @include button-theme($malachite);
}

.yellow-button {
  @include button-theme($maximum-yellow-red);
}

.close-button {
  background: none;
  color: red;
  outline: none;
  border: none;
  filter: none;
  font-size: 3rem;
}
